$('#new_question').remove();
$('#new_question_link').show();
// $('ul p').remove();
$('#all_questions').append('<li id="question_link_<%= @question.id %>"><%= @question.name %> | <%= link_to "Edit From Create.js", edit_question_path(@question), :class => "btn btn-default", remote: true %> | <%= link_to "Delete", question_path(@question), :data => {:confirm => "Are you sure?",:method => "delete"},:class => "btn btn-danger", remote: true %></li>')
